h1 {
    font-size: 90px !important;
    margin-left: -4px !important;
    margin-bottom: -64px !important;
}

p {
    font-size: 16px !important;
}

.stMarkdown p {
    margin-bottom: 0 !important;
}

div[data-testid="stSelectbox"] {
    >div>div {
        padding: 6px 6px !important;
        height: 3.2rem;
    }
}

/* lol, lmao */
div[data-testid="stMultiSelect"] {
    >div>div>div>div {
        padding: 5px 8px !important;
    }
    svg[title="open"] {
        display: none;
    }
}

div[data-testid="stExpander"]:not(:has(#filter-marker)) {
    details summary p {
        font-size: 24px !important;
    }

    a[data-testid="stPageLink-NavLink"] {
        align-self: end;
    }

    svg[data-testid="stExpanderToggleIcon"] {
        /* kill me */
        transform: translateY(10px) scale(1.5);
    }
}

span.righty {
    height: 0 !important;
    float: right;
    transform: translateY(16px);
}

span.tag-badge {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;

    margin: 4px 6px 4px 0;
    padding: 2px 8px;
    border-radius: 4px;

    font-size: 16px !important;
    color: mediumslateblue;
    border: 1px solid mediumslateblue;
}
